.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input {
  border-radius: 0px;
}

form :nth-child(2) input {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

form :nth-child(6) input {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
